/**--------------------------------------STYLES HEADER -------------------------------------------------------**/

header {
    grid-area: header;
    background-color: #EDEDEE;
    border-bottom: $colorprincipal 2px solid;
    padding-left: $margenbox;
    padding-right: $margenbox;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;

    .logo {
        width: 19%;
        &:hover { box-shadow: 0 20px 20px rgba(9, 8, 8, 0.2);}
    }

    nav {

        .ulheader {
            display: flex;
            font-family: $font;
            font-weight: 700;
            font-size: 1.5rem;
            flex-wrap: wrap;
            justify-content: space-around;
            list-style: none;

            .botoncomun {
                padding: 30px 15px;
                color: $colorprincipal;
                    
                &:hover { box-shadow: 0 20px 20px rgba(9, 8, 8, 0.2);
                }

                h1 { color: $colorprincipal;
}

                a { text-decoration: none;
                    color: $colorprincipal;
                    &:hover {color:$colordestaque;}
                    }
                }

            }

            .botoncotizar {
                display: block;
                color: #EDEDEE;
                padding-top: 30px;
                padding-bottom: 25px;
                padding-left: 25px;
                padding-right: 25px;
                background-color: $colordestaque;

                a {
                    color: #EDEDEE;
                    text-decoration: none;
                }

            }
        }

    } 


/**--- mediaquery Tablets ----------**/
@media (max-width:768px) {

    /**---header--**/
    header {
        padding-top: 3%;
        padding-left: 4%;
        padding-right: 4%;

        header .logo {
            width: 30%;
        }

        nav {
            width: 100%;

            .ulheader {
                margin-top: 25px;

                li {
                    justify-content: space-around;
                    margin-left: 2px;
                    margin-right: 2px;
                }
            }
        }
    }
}

/**--- Mediaquery Mobile max 620 ----------**/

@media (max-width:620px) {

    /**---header--**/
    header {
        padding-bottom: 3%;
        padding-left: 4%;
        padding-right: 4%;

        .logo {
            width: 50%;
          
        }

        nav .ulheader {
            flex-direction: column;

            li {
                padding: 10px;
                margin: 0%;
                margin-bottom: 1%;
            }



            .botoncomun {
                background-color: $colorsecundario;
                padding: 5px 15px;
                h1 {color: #EDEDEE;
                    margin-bottom: 1%;}

                a {
                    color: #EDEDEE;

                    a:hover {
                        color: $colordestaque;
                    }
                }
            }
        }
    }
}


@media (min-width:621px) and (max-width:768px) {
    header {
        .logo {
            width: 50%;
        }

        nav {
            .ulheader {
                li {
                    padding: 15px 5px;
                }

                .botoncotizar {
                    display: block;
                    color: #EDEDEE;
                    padding-left: 15px;
                    padding-right: 20px;
                    background-color: $colordestaque;
                }
            }
        }
    }
}

/**-------------------------------------- FIN STYLES HEADER -------------------------------------------------------**/