

/**-------------------------------------- STYLES PAGINA AUTO.HTML -------------------------------------------------------**/

#mainauto {
    grid-area: main;
    background-color: $fondoprincipal;

    #slideauto {
        width: 100%;
        height: 30vh;
        background-image: $slide2;
        background-size: cover;
        background-position: center center;
        border-bottom: $colordestaque 5px solid;
    }

    #auto {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        .imgizqauto {
            width: 35%;
            height: 45vh;
            background-image: $icono2;
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
           
        }

        .texto {
            width: 50%;
            h1 {
                color: $colorsecundario;
            }
            p {
                color: $colorprincipal;
                font-size: 1.4rem;
            }
        }



    }
}

/**----------------- PLANES en _Partial.scss -----------------**/
/**-----------------BOTONES en _Partial.scss -----------------**/


/**--- Mediaquery Tablets  768 ----------**/
@media (max-width:768px) {

    #mainauto {

        #slideauto {
            height: 40vh;
        }

        #auto {



            padding-left: 4%;
            padding-right: 4%;
            padding-top: 3%;
            padding-bottom: 3%;
            flex-direction: column;

            .imgizqauto {
                width: 70%;
                font-size: 1.6rem;
            }

            .texto {
                width: 85%;
                font-size: 1.6rem;
            }

        }

    }
}

/**--- Mediaquery Mobile 425 ----------**/
@media (max-width:425px) {

    #mainauto {
        #slideauto {
            height: 33vh;
            background-position: center top;
        }

        #auto {
            .imgizqauto {
                width: 90%;
            }

            .texto {
                font-size: 1.4rem;
            }
        }

    }

}

/**--- Mediaquery Mobile 320 ----------**/
@media (max-width:320px) {}


/**-------------------------------------- FIN STYLES PAGINA AUTO.HTML -------------------------------------------------------**/