
//global - colores - tipografias - medidas//
$fondoprincipal:#fff;
$colordestaque:#F88C7E;
$colorprincipal:#14015B;
$colorsecundario:#0455A5;
$font: 'Roboto', sans-serif;
$margenbox: 10%;
$textura: url(../asset/img/sliders_textura.jpg);



//particulares - imagenes//
$slidehome: url(../asset/img/sliders_home.jpg);
$slide1: url(../asset/img/sliders_hogar.jpg);
$slide2: url(../asset/img/sliders_auto.jpg);
$slide3: url(../asset/img/sliders_moto.jpg);
$slide4: url(../asset/img/sliders_accidentes.jpg);
$slide5: url(../asset/img/sliders_comercio.jpg);
$slide6: url(../asset/img/sliders_retiro.jpg);
$iconohome: url(../asset/img/nahuellobo.jpg);
$icono1: url(../asset/img/segurohogar.svg);
$icono2: url(../asset/img/seguroauto.svg);
$icono3: url(../asset/img/seguromoto.svg);
$icono4: url(../asset/img/seguroaccidentes.svg);
$icono5: url(../asset/img/segurocomercio.svg);
$icono6: url(../asset/img/seguroretiro.svg);
$error: url(../asset/img/404.svg);


